.button_1669948813182 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #27c2ae !important;
    border: 3px solid #006089 !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 15px 50px !important; 
    transition: all 0.8s ease !important;
}
.button_1669948813182:hover{
    text-decoration: none !important; 
    background-color: #006089 !important;
    color: #ffeded !important;
    border-color: #006089 !important;
}
